


<div class="LoginFormStyle" id="form">
  <h2 class="signupHeader">Login</h2>

  <form action="/auth/login" method="POST">

    <label class="loginFormInputEmail"> Email
      <input type="email" name="email" placeholder="rockstar@ironhack.com" />
    </label>

    <label class="loginFormInputPassword">Password
      <input type="password" name="password" placeholder="********" />
    </label>

    <button class="LoginFormBtn" type="submit">Login</button>

    <% if(typeof errorMessage !== "undefined") { %>
      <p class="error"><%= errorMessage %></p>
    <% } %>
  </form>
</div>



