

<div class="signupFormStyle" id="form">
  <h2 class="signupHeader">Signup</h2>
  <form action="/auth/signup" method="POST">

    <label class="SignupFormInputUsername" > Username </label>
      <input type="text" name="username" id="username" placeholder="Godfree" />
    

    <label class="SignupFormInputEmail"> Email </label>
      <input type="email" name="email" id="email" placeholder="togara@fatherhood.com" />
    

    <label class="SignupFormInputPassword"> Password </label>
      <input type="password" name="password" id="password" placeholder="********" />
    

    <button class="SignupFormCreateAccBtn" type="submit">Create account</button>

    <%#!-- error message will be added here --%>
  </form>
</div>
