<h1 class="assemblyHeader">Assembly</h1>
<p>Welcome to the chat room, !</p>

<ul class="assemblyMessages">
 <%allMessages.forEach(message => { %> 
<ul>
   
    <span>
        <%= message.content%>
    </span>
</ul>
 <% }) %>

</ul>

<form method="post" action="/assembly">
  <label class="assemblyMessageText" for="message">Message:</label>
  <textarea id="message" name="message"></textarea>
  <button class="assemblycBtnSend" type="submit">Send</button>
</form>