<h1><%= appTitle %> 🚀</h1>
<p>App for Young Fathers to get advice on all aspects of life from OG's This App is designed to serve young fathers with safe place where they can receive support from experienced Fathers in all aspects of life. This will be accomplished by providing chat rooms where questions can be asked and answered anonymously.</p>
