<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= appTitle %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
  <nav class="header">
    <!--LEFT SIDE OF NAV-->
    <div class="leftNav">
      <img class="header__logo" src="../images/logoNav.png" alt="" href="/" />
    </div>
<!--MIDDLE  NAV-->
    <div class="middleNav">
      
      
          <p><a class="titleName" href="/">FATHERHOOD </a></p>      
    </div>
<!--RIGHTSIDE OF NAV-->
    <div >
      <ul class="rightNav" id="to-right">

        <div >
          <a class="signUpButton" href="/auth/signup">Signup</a> <span>  </span>
        </div>
        <div >
          <a class="LoginButton" href="/auth/login">Login</a> <span>  </span>
        </div>
        
       
        <form id="logout-form" action="/auth/logout" method="POST">
          <button class="logoutButton">Logout</button>
        </form>
      </ul>
    </ul>

    </div>
   
     
  </nav>

  <%- body %>
  
  <script src="/js/script.js"></script>
  </body>
</html>
