<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= appTitle %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
  <nav class="header">
    <!--LEFT SIDE OF NAV-->
    <div class="leftNav">
      <img class="header__logo" src="../public/images/logo32x32.png" alt="" href="/" />
    </div>
<!--MIDDLE  NAV-->
    <div class="middleNav">
      <ul>
        <ul id="to-left">
          <p><a class="titleName" href="/">Fatherhood </a></p>
        <!--  <img alt="" src="../public/images/favicon.ico" />     INSERT HOME ROUTE LOGO BUTTON     -->  
        </ul>
    </div>
<!--RIGHTSIDE OF NAV-->
    <div class="rightNav">
      <ul id="to-right">

        <div>
          <a href="/auth/signup">Signup</a> <span>  </span>
        </div>
        <div>
          <a href="/auth/login">Login</a> <span>  </span>
        </div>
        
       
        <form id="logout-form" action="/auth/logout" method="POST">
          <button>Logout</button>
        </form>
      </ul>
    </ul>

    </div>
   
     
  </nav>

  <%- body %>
  
  <script src="/js/script.js"></script>
  </body>
</html>
