body {
  background-image: url('../images/driving.gif');
  background-repeat: no-repeat;
  padding: 50px;
  background-attachment: fixed;

  background-size: cover;
  background-size: 100% 100%;
}

a {
   color: #ffcf40;
   background-color: #18206f;
}

h1 {
  color: 15px;
}

p {
  color: #ffcf40;
  background-color: #18206f;
  font-family: Papyrus,fantasy;
  font-weight: 900; 
}
