body {
  background-image: url('../images/driving.gif');
  background-repeat: no-repeat;
  padding: 50px;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
}

a {
   color: #ffcf40;
   background-color: #18206f;
}

h1 {
  color: 15px;
}

p {
  color: #ffcf40;
  background-color: #18206f;
  font-family: Papyrus,fantasy;
  font-weight: 900; 
}

.header {
  display: flex;
 
  justify-content: space-between;
  background-color: #18206f;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  border: 2px solid #ffcf40;
}

.titleName{
  color: #ffcf40;
  font-weight: 900;
  text-decoration: none;
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;

}

.header__logo{
  height: 50px;
  width: 50px;
  border: 3px solid #ffcf40;
}

.leftNav{
  width: 100px;
  height: 50px;
  object-fit: contain;
  align-items: center;
  margin: 0 20px;
  margin-top: 18px;
  margin-bottom: 18px;
  
}

.middleNav {
  border: none;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  
}

.rightNav {
  display: flex;
  flex-direction: row;
  object-fit: contain;
  align-items: center;
 
  text-decoration: none;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.logoutButton{
  display: flex;
  color: #ffcf40;
  background-color: red;
  border: 2px solid #ffcf40;
  padding: 3px;
  margin-bottom: 0px;
  
}

.signUpButton{
  display: flex;
  background-color: #18206f;
  text-decoration: none;
  border: 2px solid #ffcf40;
  padding: 2px;
}

.LoginButton {
  display: flex;
  text-decoration: none;
  background-color: #18206f;
  border: 2px solid #ffcf40;
  padding: 2px;
  margin-left: 10px;
  margin-right: 10px;
}

.signupHeader{
  color: #ffcf40;
  font-weight: 900;
  padding:10px ;
}

.signupFormStyle{
  color: #ffcf40;
  background-color: #18206f;
  padding-bottom: 30px;
}

.LoginFormStyle{
  color: #ffcf40;
  background-color: #18206f;
  padding-bottom: 10px;
}

.SignupFormInputUsername{
  padding: 10px;
}

.SignupFormInputEmail{
  padding: 5px;
}

.SignupFormCreateAccBtn{
  padding: 5px;
  margin-left:10px;
  margin-top:5px;
  background-color: #ffcf40;
}

.SignupFormInputPassword{
  padding: 5px;
}
.signupHeader{
  color: #ffcf40;
  font-weight: 900;
  padding:10px ;
}
.loginFormInputEmail{
  padding: 5px;
}

.loginFormInputPassword{
  padding: 5px;
}

.LoginFormBtn{
  padding: 5px;
  margin-left:10px;
  margin-top:5px;
  background-color: #ffcf40;
}

.useProfileHeader{
  color: #ffcf40;
  font-weight: 900;
  padding:10px ;
  background-color: #18206f;
}
.reloadPageBtn{
  display: flex;
  background-color: #18206f;
  text-decoration: none;
  border: 2px solid #ffcf40;
  padding: 2px;
  text-decoration: none;
  margin-top:5px;
}

.goToAssemblyBtn{
  display: flex;
  background-color: #18206f;
  text-decoration: none;
  border: 2px solid #ffcf40;
  padding: 2px;
  text-decoration: none;
  margin-top:5px;
}
.reloadPageyBtn1{
  text-decoration: none;
}

.goToAssemblyBtn2{
  text-decoration: none;
}

.assemblyHeader{
  color: #ffcf40;
  font-weight: 900;
  padding:10px ;
  background-color: #18206f;
}

.assemblyMessages{
  color: #ffcf40;
  background-color: #18206f;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-top:15px;
}

.assemblycBtnSend{
  display: flex;
  background-color: #18206f;
  text-decoration: none;
  border: 2px solid #ffcf40;
  padding: 5px;
  text-decoration: none;
  margin-top:5px;
  color: #ffcf40;
}

.assemblyMessageText{
  color: #ffcf40;
  background-color: #18206f;
  align-items: center;

  
}