body {
  background-image: url('../images/driving.gif');
  background-repeat: no-repeat;
  padding: 50px;
  background-attachment: fixed;

  background-size: cover;
  background-size: 100% 100%;
}

a {
   color: #ffcf40;
   background-color: #18206f;
}

h1 {
  color: 15px;
}

p {
  color: #ffcf40;
  background-color: #18206f;
  font-family: Papyrus,fantasy;
  font-weight: 900; 
}

.header {
  background-color: #18206f;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  
}

.titleName{
  color: #ffcf40;
  font-weight: 900;
  text-decoration: none;
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;

}

.header__logo{
  height: 50px;
  width: 50px;
}

.leftNav{
  width: 100px;
  height: 50px;
  object-fit: contain;
  align-items: center;
  margin: 0 20px;
  margin-top: 18px;
  margin-bottom: 18px;
  
}

.middleNav {
  border: none;
  width: 100%;
}

.rightNav {
  flex-direction: row;
  object-fit: contain;
  align-items: center;
  margin: 0 20px;
  text-decoration: none;
}

.logoutButton{
  display: flex;
  color: #ffcf40;
  background-color: red;
  padding: 2px;
  margin-bottom: 0px;
  
}

.signUpButton{
  display: flex;
  background-color: #18206f;
  text-decoration: none;
  border: 1px solid #ffcf40;
}

.LoginButton {
  display: flex;
  text-decoration: none;
  background-color: #18206f;
  border: 2px solid #ffcf40;
}

.signupHeader{
  color: #ffcf40;
  font-weight: 900;
}

.signupFormStyle{
  color: #ffcf40;
  background-color: #18206f;
}

