
<% if(user) { %>
  <h2 class="useProfileHeader">Welcome, <%= user.username %>!</h2>
  <p>This is your profile page my friend!</p>

  <button class="goToAssemblyBtn">
    <a class="goToAssemblyBtn2"href="/assembly">Visit assembly</a>
  </button>
<% } else { %>
  <p>Still no logged in user, sorry!</p>
<% } %>
